@use './variables';

.alert{
    display: inline-block;
    padding: 0.75em 1.25em;
    border: 1px solid transparent;
    border-radius: 4px;
}

.danger{
    color: variables.$danger_text_color;
    border-color: variables.$danger_border_color;
    background-color: variables.$danger_background_color;

    .link{
        color: variables.$danger_link_color;
    }
}

.warning{
    color: variables.$warning_text_color;
    border-color: variables.$warning_border_color;
    background-color: variables.$warning_background_color;
}