@use './variables';

.alert{
    border: 1px solid transparent;
    border-radius: 4px;
}

.danger{
    color: #721c24;
    border-color: #f5c6cb;
    background-color: #f8d7da;
}

.alert.danger {
    a:link {
        color: #491217;
    }
}

.warning{
    color: #856404;
    border-color: #ffeeba;
    background-color: #fff3cd;
}