/*
* BW dither component controls
*/
.threshold-container input[type="range"]{
    width: 200px;
}

.bw-color-replace-container{
    display: flex;
    flex-wrap: wrap;
    .btn{
        flex-basis: 25%;
        margin-bottom: $colors_container_margin_bottom;
    }
}