/*
* BW dither component controls
*/
.bw-color-replace-container{
    display: flex;
    flex-wrap: wrap;
    .btn{
        flex-basis: 25%;
        margin-bottom: $colors_container_margin_bottom;
    }
}