/*
* Canvases
*/

.image-canvas-supercontainer{
    display: flex;
    overflow-x: scroll;
    max-width: calc(100vw - #{$chrome_fullscreen_horizontal_scrollbar_height});
}

.image-canvas-container{
    display: flex;
    margin-top: 12px;
}

.source-output-canvas{
    margin-right: $canvasMargin;
}

.transformed-canvas-output-container{
    position: relative;
    z-index: 1;
}
.outline-canvas{
    position: absolute;
    top: 0;
    left: 0;
}

@include pinned_controls_mq{
    .image-canvas-supercontainer{
        overflow-x: initial;
    }
    
    .image-canvas-container{
        &::before, &::after{
            content: '';
            width: $pinned_controls_canvas_padding;
        }
    }
}