/*
* Canvases
*/

.image-canvas-supercontainer{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    max-width: 100vw;
    &.show-original{
        max-width: calc(100vw - #{$chrome_fullscreen_horizontal_scrollbar_height});
    }
}

.image-canvas-container{
    display: flex;
    margin-top: 12px;
    max-width: 100%;
}

.show-original .output-canvas + .output-canvas{
    margin-left: $canvasMargin;
}

@include pinned_controls_mq{
    .image-canvas-supercontainer{
        justify-content: flex-start;
        overflow-x: initial;
    }
    
    .image-canvas-container{
        max-width: none;

        &::before, &::after{
            content: '';
            width: $pinned_controls_canvas_padding;
        }
    }
}