/*
* Canvases
*/

.image-canvas-supercontainer{
    display: flex;
    overflow-x: scroll;
    max-width: calc(100vw - #{$chrome_fullscreen_horizontal_scrollbar_height});
}

.image-canvas-container{
    display: flex;
    margin-top: 12px;
}

.show-original .output-canvas + .output-canvas{
    margin-left: $canvasMargin;
}

@include pinned_controls_mq{
    .image-canvas-supercontainer{
        overflow-x: initial;
    }
    
    .image-canvas-container{
        &::before, &::after{
            content: '';
            width: $pinned_controls_canvas_padding;
        }
    }
}