@keyframes scaleAnimation {
    0%   {transform: scale(1, 1);}
    50%  {transform: scale(1.05, 1.05);}
    100% {transform: scale(1, 1);}
}

.color-picker-container{
    display: inline-block;
    position: relative;
    z-index: 100;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.3);
    margin: 8px 0 16px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    &.attention-animation{
        animation-name: scaleAnimation;
        animation-duration: 0.7s;
    }
}
//this is so none of the other controls except the color picker are selectable
.color-picker-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    //z-index must be higher than .faux-color-input
    z-index: 2;
    background-color: var(--pinned-controls-bg-color);
    cursor: not-allowed;
}