/*
* Color dither component controls
*/

.colors-list-container{
    display: flex;
    flex-wrap: wrap;
}

//optimize palette
.optimize-palette-pending{
    color: var(--hint-text-color);
    font-size: 14px;
    min-width: 8em;
    max-width: 100%;
}

.optimize-palette-controls-container{
    //so 'optimize button is not cut off for phone size screens'
    max-width: calc(100vw - 44px);
}