input[type="radio"]{
    margin-right: 14px;
    margin-left: 2px;
}
input[type="checkbox"]{
    margin-right: 16px;
}

.controls-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $controlsWidth;
    max-width: 100%;
}
.global-controls-panel{
    margin: 0 $controls_gutter 16px 0;
}

.controls{
    display: flex;
    flex-direction: column;
    //22px to account for vertical scrollbar width
    max-width: calc(100vw - 22px);
    &, & > *{
        box-sizing: border-box;
    }
}


.controls-panel > *{
    margin-bottom: 8px;
}

.controls-tab-container > div{
    margin-top: 16px;
}

.transform-button-container{
    text-align: right;
}

/*
* BW dither component controls
*/
.threshold-container input[type="range"]{
    width: 200px;
}

.bw-color-replace-container{
    display: flex;
    flex-wrap: wrap;
    .btn{
        flex-basis: 25%;
        margin-bottom: $colors_container_margin_bottom;
    }
}

/*
* Color replace stuff
*/
input[type="color"]{
    margin-left: 14px;
    margin-right: 24px;
}

/*
* Color dither component controls
*/

.cycle-property-list-button{
    min-width: 60px;
    height: 28px;
}

.color-dither-number-of-colors-container{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    & > *{
        margin-right: 1em;
        align-self: center;
    }
}

.colors-list-container{
    display: flex;
    flex-wrap: wrap;
}

.color-container{
    flex-basis: 110px;
    margin: 0 13px $colors_container_margin_bottom 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 4px;
    
    &.dragged, &.color-disabled{
        opacity: 0.4;
    }

    input[type="color"]{
        margin: 0;
    }
    label{
        display: inline-block;
        min-width: 1.7em;
    }
}

.color-container[draggable="true"]{
    cursor: move;
    label{
        cursor: move;
    }
}

.palette-buttons-container{
    //reduce upper margin from color inputs
    margin: -8px 0 8px;
}

//optimize palette
.optimize-palette-pending{
    color: var(--hint-text-color);
    font-size: 14px;
    min-width: 8em;
    max-width: 100%;
}

/*
* zoom container
*/

.zoom-bar-container{
    width: $controlsWidth;
    max-width: 100%;
    input[type="range"]{
        width: calc(100% - 188px);
        vertical-align: bottom;
    }
}