//styles for tablets

//unfortunately we can't use position sticky because
//while it works on desktop browsers, mobile devices
//don't let it stick for some reason, so we have to resort to
//horizontal scrollbars for now
// @include sticky_controls_mq{
// 	.app-container{
// 		//has to be inline-block for position: sticky to work
// 		display: inline-block;
// 	}

// 	.controls{
// 		position: -webkit-sticky;
// 		position: sticky;
// 		left: 0;
// 		//has to be inline-flex for position: sticky to work
// 		display: inline-flex;
// 	}
// 	.image-canvas-supercontainer{
// 		overflow-x: initial;
// 	}
// }


//styles for desktop
@include pinned_controls_mq{
	.transform-button-container{
		text-align: left;
	}
	//reset tablet styles
	.controls{
		// position: static;
		// display: flex;
		align-items: center;
	}
	//desktop styles
	.controls-container{
		position: fixed;
		z-index: 11;
		display: block;
		background-color: var(--pinned-controls-bg-color);
		max-width: 100%;
		max-height: 100%;
		top: 0;
		right: 0;
		overflow-y: scroll;
		box-sizing: border-box;
		width: $pinned_dither_controls_width;
		padding: 0;
	}

	.super-dither-controls-container, .global-controls-panel{
		border-left: $controls_border;
		padding: 8px $global_horizontal_padding;
	}
	.super-dither-controls-container{
		border-bottom: $controls_border;
	}
	.global-controls-panel{
		margin: 0;
		min-height: $global_controls_height;
		
		//for before image has loaded
		//and there are no controls below it
		&.no-image{
			border-bottom: $controls_border;
			border-radius: 3px;
		}
	}
}

//otherwise will overlap chrome scrollbars
@media all and (display-mode: fullscreen) {
	.controls-container {
		bottom: $chrome_fullscreen_horizontal_scrollbar_height;

		body:-moz-full-screen & {
			bottom: 0;
		}
	}
}
