//styles for tablets
@include sticky_controls_mq{
	.app-container{
		//has to be inline-block for position: sticky to work
		display: inline-block;
	}

	.controls{
		position: -webkit-sticky;
		position: sticky;
		left: 0;
		//has to be inline-flex for position: sticky to work
		display: inline-flex;
	}
	.image-canvas-supercontainer{
		overflow-x: initial;
	}
}


//styles for desktop
@include pinned_controls_mq{
	//reset tablet styles
	.app-container{
		display: block;
	}
	.controls{
		position: static;
		display: flex;
		align-items: center;
	}
	//desktop styles
	.controls-container{
		position: fixed;
		display: block;
		background-color: var(--pinned-controls-bg-color);
		width: auto;
		max-width: 100%;
		max-height: 100%;
		top: 0;
		right: 0;
		overflow-y: scroll;
		box-sizing: border-box;
		max-width: $pinned_dither_controls_width;
	}

	.super-dither-controls-container, .global-controls-panel{
		border-left: 1px solid rgba(var(--main-text-color-rgb), 0.2);
		padding: 8px;
	}
	.global-controls-panel{
		margin: 0;
		min-height: $global_controls_height;
	}

	.zoom-bar-container{
		font-size: 12px;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: var(--pinned-controls-bg-color);
		box-sizing: border-box;
		border-top: 1px solid rgba(var(--main-text-color-rgb), 0.2);
		//-1 pixel so it hides border
		width: calc(100% - #{$pinned_dither_controls_width});
		padding: 4px;
	}
}