@use './variables';
@use './mixins';

.global-controls-panel {
    margin: 0 20px 16px 0;

    fieldset {
        padding: 2px 0 12px;
    }
}

.controls-tab-container {
    &>* {
        margin-top: 16px;
    }

    fieldset {
        padding-left: 0;
        padding-right: 0;

        &>div {
            margin-bottom: 8px;
        }
    }
}

$label_gap: 0.5em;

.label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $label_gap;
    flex-grow: 1;

    & > span {
        display: inline-block;
    }
}

.label-align {
    & > span {
        min-width: variables.$global_controls_label_min_width - $label_gap;
    }
}

.inline-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    
    .label {
        flex-grow: 0;
    }
}

.inline-controls-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
    align-items: center;
}

@include mixins.pinned_controls_mq {
    .inline-controls-controls {
        justify-content: space-between;
        flex-grow: 1;
    }
}