.global-controls-panel{
    margin: 0 $controls_gutter 16px 0;
    fieldset{
        padding: 2px 0 12px;
    }
}

.controls-tab-container{
    & > *{
        margin-top: 16px;
    }
    fieldset{
        padding-left: 0;
        padding-right: 0;
        & > div{
            margin-bottom: 8px;
        }
    }
}

.label-align{
    label{
        min-width: $global_controls_label_min_width;
        display: inline-block;
    }
}