@use './variables';
@use './mixins';

.header {
    padding: 8px variables.$global_horizontal_padding 4px;
    position: sticky;
    left: 0;

    @media all and (display-mode: fullscreen) {
        display: inline-block;
    }
}

.nav {
    display: flex;
    gap: 1rem;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        padding: 0;
        align-self: center;
    }
}

.brand {
    font-size: 20px;
}

@include mixins.pinned_controls_mq {
    .header {
        //so position sticky works
        display: inline-block;
    }
}