@use './variables';
@use './mixins';

.header{
    padding: 8px variables.$global_horizontal_padding 4px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;

    @media all and (display-mode: fullscreen) {
        display: inline-block;
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 1em;
        padding: 0;
        align-self: center;
        a{
            color: var(--hint-text-color);
        }
    }
    li:first-of-type{
        margin-right: 1.5em;
    }
}

.brand{
    font-size: 20px;
}

@include mixins.pinned_controls_mq{
    .header{
        //so position sticky works
        display: inline-block;
    }
    .nav{
        li:first-of-type{
            margin-right: 0.5em;
        }
    }
}