.histogram-super-container{
    display: flex;
    justify-content: flex-end;
    margin-top: $superContainerMargin;
}

.histogram-container{
    position: relative;
    border: 1px solid $highlight_color;
    
    canvas{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

#histogram-canvas-indicator{
    z-index: 10;
}

#histogram-canvas{
    z-index: 1;
}