.histogram-container{
    margin: 8px 0 12px;
    position: relative;
    border: 1px solid rgba(200, 200, 200, 0.5);
    
    canvas{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

//hide color histogram at small screen widths
//since it stretches screen, while not adding very much
@media screen and (max-width: $histogram_color_required_width){
    .color-histogram-container{
        display: none;
    }
}