//note that link colors for unsplash-attribution are not
//using css variables, since that messes up default link colors
//when variables are unset

body{
    --main-bg-color: white;
    --pinned-controls-bg-color: white;
    --main-text-color: black;
    --hint-text-color: #777;
    --main-text-color-rgb: 0, 0, 0;
    --disabled-text-color: #ddd;
    --border-color: #dee2e6;
    --pinned-controls-border-color: #dee2e6;
}
.editor-white{
    color: black;
    background-color: white;
    --main-bg-color: white;
    --pinned-controls-bg-color: white;
    --main-text-color: black;
    --main-text-color-rgb: 0, 0, 0;
    --disabled-text-color: #ddd;
    --border-color: #dee2e6;
    --pinned-controls-border-color: #dee2e6;
}
.editor-light{
    color: black;
    background-color: #ccc;
    --main-bg-color: #ccc;
    --pinned-controls-bg-color: #ddd; //this is intentionally different from the background color, so controls are slightly lighter
    --main-text-color: black;
    --disabled-text-color: #aaa;
    --main-text-color-rgb: 0, 0, 0;
    --border-color: #aaa;
    --pinned-controls-border-color: #bec2c6;
    --hint-text-color: #666;
}

.editor-dark{
    //tint of magenta #FF00FF
    color: #f0eff0;
    background-color: #333;
    --main-bg-color: #333;
    --pinned-controls-bg-color: #444; //this is intentionally different from the background color, so controls are slightly lighter
    --main-text-color: #f0eff0;
    --main-text-color-rgb: 240, 239, 240;
    --disabled-text-color: #666;
    --border-color: #6a6a6a;
    --pinned-controls-border-color: #6a6a6a;
}

.editor-black{
    //tint of magenta #FF00FF
    color: #f0eff0;
    background-color: black;
    --main-bg-color: black;
    --pinned-controls-bg-color: black;
    --main-text-color: #f0eff0;
    --main-text-color-rgb: 240, 239, 240;
    --disabled-text-color: #666;
    --border-color: #7a7a7a;
    --pinned-controls-border-color: #7a7a7a;
}

//colors links in dark and black themes
//can't use variables since we want to use default link colors
//for light themes
.editor-black, .editor-dark{
    a{
        //tints of magenta #FF00FF
        &:link{
            color: #c1b8c1
        }
        &:visited{
            color: #958e95
        }
    }
}