/**
* Colors
*/
$highlight_color: magenta;

//alert colors based on bootstrap
$danger_text_color: #721c24;
$danger_border_color: #f5c6cb;
$danger_background_color: #f8d7da;
$danger_link_color: #491217;
$danger_input_border_color: #dc3545;

$warning_text_color: #856404;
$warning_border_color: #ffeeba;
$warning_background_color: #fff3cd;

/**
* Layout
*/

$global_horizontal_padding: 10px;

/**
* controls panel layout variables
*/
$colors_container_margin_bottom: 16px;

$global_controls_height: 180px;
$pinned_dither_controls_width: 454px;
$pinned_dither_controls_min_height: 400px;
//padding to left and right of canvas when controls are pinned so controls don't overlap 
$pinned_controls_canvas_padding: $pinned_dither_controls_width + 30px;

//controls borders
$controls_border: 1px solid rgba(var(--main-text-color-rgb), 0.1);

//global controls
$global_controls_label_min_width: 5em;

//fullscreen mode
//for some reason chrome doesn't take into account horizontal scrollbars in full screen mode
$chrome_fullscreen_horizontal_scrollbar_height : 15px;