/*
* zoom container
*/
.zoom-bar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px $global_horizontal_padding;
}

.zoom-bar-controls{
    display: flex;
    align-items: flex-end;
    flex-basis: 100%;
    margin-bottom: 12px;
    input[type="range"]{
        flex-basis: calc(100% - 138px);
        vertical-align: bottom;
    }
    label{
        align-self: center;
    }
}

.zoom-bar-fit-button{
    margin-right: 16px;
}

.zoom-bar-button-container{
    display: flex;
    justify-content: space-between;
    width: $zoom_bar_button_container_width;
}

@include pinned_controls_mq{
    .zoom-bar-container{
		font-size: 12px;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: var(--pinned-controls-bg-color);
		box-sizing: border-box;
		border-top: $controls_border;
		//-1 pixel so it hides border
        width: calc(100% - #{$pinned_dither_controls_width});

        .full-screen-mode &{
            bottom: $chrome_fullscreen_horizontal_scrollbar_height;
        }
        //firefox takes into account scrollbars and doesn't overlap them
        .full-screen-mode:-moz-full-screen &{
            bottom: 0;
        }
    }
    .zoom-bar-controls{
        // align-items: baseline;
        flex-basis: calc(100% - #{$zoom_bar_button_container_width});
        margin-bottom: 0;
    }
    .zoom-bar-fit-button{
        margin-right: 0;
    }
}