<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>jsdither</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header>
            <h1>jsdither</h1>
        </header>
        <main>
            <div class="hidden">
                <label>
                    Open image file
                    <input type="file" id="file-input"/>
                </label>
                <a id="save-image-link">Save image</a>
            </div>
            <div id="app">
                <div class="controls" v-cloak>
                    <div class="controls-toplevel-container">
                        <div>
                            <button v-on:click="loadImageTrigger()">Open image file</button>
                            <button v-on:click="loadRandomImage()" v-bind:disabled="isCurrentlyLoadingRandomImage">Load random image</button>    
                        </div>
                        <div>
                            <button v-on:click="saveImage()" v-show="isImageLoaded">Save image</button>
                        </div>
                    </div>
                    <div>
                        <h3>{{imageTitle}}</h3>
                    </div>
                    <div class="controls-secondlevel-container" v-show="isImageLoaded">
                        <div class="controls-panel">
                            <div>
                                <label class="super-label">Editor Theme</label>
                                <template v-for="(theme, index) in editorThemes">
                                    <label>{{theme.name}}
                                        <input type="radio" v-model="currentEditorThemeIndex" v-bind:value="index" />
                                    </label>
                                </template>
                            </div>
                            <div>
                                <label class="super-label">Panel Style</label>
                                <label>Single
                                    <input type="radio" v-model="numPanels" v-bind:value="1"/>
                                </label>
                                <label>Side by side
                                    <input type="radio" v-model="numPanels" v-bind:value="2"/>
                                </label>
                            </div>
                            
                            <div>
                                <label>Live preview
                                    <input type="checkbox" v-model="isLivePreviewEnabled"/>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Zoom
                                    <input type="number" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <input type="range" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <button v-show="zoom !== 100" v-on:click="resetZoom()">Reset</button>
                                </label>
                            </div>
                        </div>
                        
                        <div class="dither-controls-container controls-panel">
                             <div>
                                <select v-model="selectedDitherAlgorithmIndex">
                                    <option v-for="(ditherAlgorithm, index) in ditherAlgorithms" v-bind:value="index">{{ ditherAlgorithm.title }}</option>
                                </select>
                            </div>
                            <div>
                                <label>
                                    Lightness threshold
                                    <input type="number" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                                    <input type="range" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                                </label>
                            </div>
                            <div>
                                <button v-on:click="ditherImageWithSelectedAlgorithm()" v-show="!isLivePreviewEnabled">Transform</button>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="histogram-container">
                    <canvas id="histogram-canvas-indicator" class="hidden"></canvas>
                    <canvas id="histogram-canvas"></canvas>
                </div>
                <div class="image-canvas-container" v-bind:class="{'panel-num2': numPanels === 2}">
                    <canvas id="source-canvas" class="hidden"></canvas>
                    <canvas id="transform-canvas" class="hidden"></canvas>
                    <canvas id="source-canvas-output" v-show="numPanels > 1"></canvas>
                    <canvas id="transform-canvas-output"></canvas>
                </div>    
            </div>
            
            
        </main>
        <script type="text/javascript" src="/js/vue.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>