<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>jsdither</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Bungee&text=jsdither" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header class="header">
            <div>
                <h1 class="brand">jsdither</h1>
            </div>
        </header>
        <main>
            <div class="hidden">
                <label>
                    Open image file
                    <input type="file" id="file-input"/>
                </label>
                <a id="save-image-link">Save image</a>
            </div>
            <div id="app">
                <div class="controls" v-cloak>
                    <div class="controls-toplevel-container">
                        <div>
                            <button v-on:click="loadImageTrigger()">Open image file</button>
                            <button v-on:click="loadRandomImage()" v-bind:disabled="isCurrentlyLoadingRandomImage">Load random image</button>    
                        </div>
                        <div>
                            <button v-on:click="saveImage()" v-show="isImageLoaded">Save image</button>
                        </div>
                    </div>
                    <div>
                        <h3>{{imageTitle}}</h3>
                    </div>
                    <div class="controls-secondlevel-container" v-show="isImageLoaded">
                        <div class="controls-panel">
                            <div>
                                <label class="super-label">Editor Theme</label>
                                <template v-for="(theme, index) in editorThemes">
                                    <label>{{theme.name}}
                                        <input type="radio" v-model="currentEditorThemeIndex" v-bind:value="index" />
                                    </label>
                                </template>
                            </div>
                            <div>
                                <label class="super-label">Panel Style</label>
                                <label>Single
                                    <input type="radio" v-model="numPanels" v-bind:value="1"/>
                                </label>
                                <label>Side by side
                                    <input type="radio" v-model="numPanels" v-bind:value="2"/>
                                </label>
                            </div>
                            
                            <div>
                                <label>Live preview
                                    <input type="checkbox" v-model="isLivePreviewEnabled"/>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Zoom
                                    <input type="number" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <input type="range" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <button v-show="zoom !== 100" v-on:click="resetZoom()">Reset</button>
                                </label>
                            </div>
                        </div>
                        
                        <div class="dither-controls-container controls-panel">
                             <div>
                                <select v-model="selectedDitherAlgorithmIndex">
                                    <option v-for="(ditherAlgorithm, index) in ditherAlgorithms" v-bind:value="index">{{ ditherAlgorithm.title }}</option>
                                </select>
                            </div>
                            <div>
                                <label>
                                    Lightness threshold
                                    <input type="number" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                                    <input type="range" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                                </label>
                            </div>
                            <div>
                                <button v-on:click="ditherImageWithSelectedAlgorithm()" v-show="!isLivePreviewEnabled">Transform</button>
                            </div>
                            <div class="histogram-super-container">
                                <div class="histogram-container" v-bind:style="{width: histogramWidth + 'px', height: histogramHeight + 'px'}">
                                    <canvas id="histogram-canvas-indicator" v-bind:width="histogramWidth" v-bind:height="histogramHeight"></canvas>
                                    <canvas id="histogram-canvas" v-bind:width="histogramWidth" v-bind:height="histogramHeight"></canvas>
                                </div>
                            </div>
                            
                            <div class="color-replace-super-container" v-bind:class="{'color-replace-disabled': !isColorReplaceEnabled}">
                                <div class="color-replace-title-container">
                                    <h5 class="color-replace-title">Color Replace</h5>
                                    <div>
                                        <label class="color-replace-enable-label">Enable
                                            <input type="checkbox" v-model="isColorReplaceEnabled"/>
                                        </label>
                                    </div>
                                </div>
                                <label>Black<input type="color" v-bind:disabled="!isColorReplaceEnabled" v-model="colorReplaceBlack" /></label>
                                <label>White<input type="color" v-bind:disabled="!isColorReplaceEnabled" v-model="colorReplaceWhite" /></label>
                                <button v-bind:disabled="!isColorReplaceEnabled" v-on:click="resetColorReplace()">Reset</button>
                            </div>
                        </div>    
                    </div>
                </div>
                
                <div class="image-canvas-container" v-bind:class="{'panel-num2': numPanels === 2}">
                    <canvas id="source-canvas" class="hidden"></canvas>
                    <canvas id="transform-canvas" class="hidden"></canvas>
                    <canvas id="transform-canvas-webgl" class="hidden"></canvas>
                    <canvas id="source-canvas-output" class="output-canvas" v-show="numPanels > 1"></canvas>
                    <canvas id="transform-canvas-output" class="output-canvas"></canvas>
                </div>    
            </div>
            
            
        </main>
        <script type="text/javascript" src="/js/vue.min.js"></script>
        
        
        <script type="webgl/vertex-shader" id="webgl-threshold-vertex-shader">
            attribute vec4 a_position;
            attribute vec2 a_texcoord;
             
            uniform mat4 u_matrix;
            varying vec2 v_texcoord;
             
            void main() {
               gl_Position = u_matrix * a_position;
               v_texcoord = a_texcoord;
            }
        </script>
        <script type="webgl/fragment-shader" id="webgl-threshold-fragment-shader">
            precision mediump float;
            
            varying vec2 v_texcoord;
            uniform sampler2D u_texture;
            uniform float u_threshold;
            uniform vec3 u_black_pixel;
            uniform vec3 u_white_pixel;
            
            float lightness(vec4 pixel){
                float maxVal = max(max(pixel.r, pixel.g), pixel.b);
                float minVal = min(min(pixel.r, pixel.g), pixel.b);
                return (maxVal + minVal) / 2.0;
            }
            
            void main(){
               vec4 pixel = texture2D(u_texture, v_texcoord);
               float pixelLightness = lightness(pixel);
               vec4 outputPixel;
               
               if(pixelLightness < u_threshold){
                   outputPixel = vec4(u_black_pixel.rgb, pixel.a);
               }
               else{
                   outputPixel = vec4(u_white_pixel.rgb, pixel.a);
               }
               gl_FragColor = outputPixel;
            }
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-random-threshold-fragment-shader">
            precision mediump float;
            
            varying vec2 v_texcoord;
            uniform sampler2D u_texture;
            uniform float u_threshold;
            uniform vec2 u_random_seed;
            uniform vec3 u_black_pixel;
            uniform vec3 u_white_pixel;
            
            //based on: http://byteblacksmith.com/improvements-to-the-canonical-one-liner-glsl-rand-for-opengl-es-2-0/
            highp float rand(vec2 co){
                highp float a = 12.9898;
                highp float b = 78.233;
                highp float c = 43758.5453;
                highp float dt= dot(co.xy ,vec2(a,b));
                highp float sn= mod(dt,3.14);
                return fract(sin(sn) * c);
            }
            
            float rand2(vec2 co){
                return fract(sin(dot(co.xy, vec2(12.9898,78.233))) * 43758.5453);
            }
            
            float lightness(vec4 pixel){
                float maxVal = max(max(pixel.r, pixel.g), pixel.b);
                float minVal = min(min(pixel.r, pixel.g), pixel.b);
                return (maxVal + minVal) / 2.0;
            }
            
            void main(){
               vec4 pixel = texture2D(u_texture, v_texcoord);
               float pixelLightness = lightness(pixel);
               
               float adjusted_threshold = abs(u_threshold * rand2(v_texcoord.xy/u_random_seed.xy));
               
               vec4 outputPixel;
               if(pixelLightness < adjusted_threshold){
                   outputPixel = vec4(u_black_pixel.rgb, pixel.a);
               }
               else{
                   outputPixel = vec4(u_white_pixel.rgb, pixel.a);
               }
               
               gl_FragColor = outputPixel;
               
            }
        </script>
        <script type="webgl/fragment-shader" id="webgl-ordered-dither-fragment-shader">
            precision mediump float;
            
            varying vec2 v_texcoord;
            uniform sampler2D u_texture;
            uniform sampler2D u_bayer_texture;
            
            uniform float u_bayer_texture_dimensions;
            uniform float u_threshold;
            uniform vec3 u_black_pixel;
            uniform vec3 u_white_pixel;
            
            float lightness(vec4 pixel){
                float maxVal = max(max(pixel.r, pixel.g), pixel.b);
                float minVal = min(min(pixel.r, pixel.g), pixel.b);
                return (maxVal + minVal) / 2.0;
            }
            
            void main(){
               vec4 pixel = texture2D(u_texture, v_texcoord);
               float pixelLightness = lightness(pixel);
               
               vec2 bayerPixelCoord = vec2(gl_FragCoord.x / u_bayer_texture_dimensions, gl_FragCoord.y / u_bayer_texture_dimensions);
               vec4 bayerPixel = texture2D(u_bayer_texture, bayerPixelCoord);
               float bayerValue = bayerPixel.r;
               float adjustedThreshold = bayerValue * u_threshold;
               
               vec4 outputPixel;
               
               if(pixelLightness < adjustedThreshold){
                   outputPixel = vec4(u_black_pixel.rgb, pixel.a);
               }
               else{
                   outputPixel = vec4(u_white_pixel.rgb, pixel.a);
               }
               gl_FragColor = outputPixel;
            }
        </script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>