<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>jsdither</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Bungee&text=jsdither" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header class="header">
            <div>
                <h1 class="brand">jsdither</h1>
            </div>
        </header>
        <main>
            <div class="hidden">
                <label>
                    Open image file
                    <input type="file" id="file-input"/>
                </label>
                <a id="save-image-link">Save image</a>
            </div>
            <div id="app">
                <div class="controls" v-cloak>
                    <div class="controls-toplevel-container">
                        <div>
                            <button v-on:click="loadImageTrigger">Open image file</button>
                            <button v-on:click="loadRandomImage" v-bind:disabled="isCurrentlyLoadingRandomImage">Load random image</button>    
                        </div>
                        <div>
                            <button v-on:click="saveImage" v-show="isImageLoaded">Save image</button>
                        </div>
                    </div>
                    <div class="image-title-container">
                        <h3 class="image-title">{{imageTitle}}</h3>
                    </div>
                    <div class="controls-secondlevel-container" v-show="isImageLoaded">
                        <div class="controls-panel">
                            <div class="spread-content">
                                <label class="super-label">Editor Theme</label>
                                <template v-for="(theme, index) in editorThemes">
                                    <label>{{theme.name}}
                                        <input type="radio" v-model="currentEditorThemeIndex" v-bind:value="index" />
                                    </label>
                                </template>
                            </div>
                            <div class="spread-content">
                                <label>Show source image
                                    <input type="checkbox" v-model="showOriginalImage"/>
                                </label>
                            </div>
                            
                            <div class="spread-content">
                                <label>Live preview
                                    <input type="checkbox" v-model="isLivePreviewEnabled"/>
                                </label>
                                
                                <label v-if="isWebglSupported">Enable WebGL
                                    <input type="checkbox" v-model="isWebglEnabled"/>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Zoom
                                    <input type="number" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <input type="range" v-bind:min="zoomMin" v-bind:max="zoomMax" v-model="zoom"/>
                                    <button v-show="zoom !== 100" v-on:click="resetZoom">Reset</button>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="tabs-container">
                                <div class="tab" v-bind:class="{active: activeTab === 0}" v-on:click="loadTab(0)">BW Dither</div>
                                <div class="tab" v-bind:class="{active: activeTab === 1}" v-on:click="loadTab(1)">Color Dither</div>
                            </div>
                            <div v-show="activeTab === 0">
                                <bw-dither-section ref="bwDitherSection" v-on:request-worker="onWorkerRequested" v-on:display-transformed-image="zoomImage" v-bind:transform-canvas-web-gl="transformCanvasWebGl" v-bind:transform-canvas="transformCanvas" v-bind:source-canvas="sourceCanvas" v-bind:is-webgl-enabled="isWebglEnabled" v-bind:is-webgl-supported="isWebglSupported" v-bind:is-live-preview-enabled="isLivePreviewEnabled" />  
                            </div>
                            <div v-show="activeTab === 1">
                                <color-dither-section ref="colorDitherSection" v-on:request-worker="onWorkerRequested" v-on:display-transformed-image="zoomImage" v-bind:transform-canvas-web-gl="transformCanvasWebGl" v-bind:transform-canvas="transformCanvas" v-bind:source-canvas="sourceCanvas" v-bind:is-webgl-enabled="isWebglEnabled" v-bind:is-webgl-supported="isWebglSupported" v-bind:is-live-preview-enabled="isLivePreviewEnabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-canvas-container" v-bind:class="{'show-original': showOriginalImage}">
                    <canvas ref="sourceCanvas" id="source-canvas" class="hidden"></canvas>
                    <canvas ref="transformCanvas" id="transform-canvas" class="hidden"></canvas>
                    <canvas ref="transformCanvasWebgl" id="transform-canvas-webgl" class="hidden"></canvas>
                    <canvas ref="sourceCanvasOutput" id="source-canvas-output" class="output-canvas" v-show="showOriginalImage"></canvas>
                    <canvas ref="transformCanvasOutput" id="transform-canvas-output" class="output-canvas"></canvas>
                </div>
            </div>
            
            <script type="vue/template" id="bw-dither-component">
                <div class="dither-controls-container controls-panel">
                    <div>
                        <label>Dithering algorithm
                            <select v-model="selectedDitherAlgorithmIndex">
                                <option v-for="(ditherAlgorithm, index) in ditherAlgorithms" v-bind:value="index">{{ ditherAlgorithm.title }}</option>
                            </select>
                        </label>
                    </div>
                    <div>
                        <label>
                            Lightness threshold
                            <input type="number" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                            <input type="range" v-bind:min="thresholdMin" v-bind:max="thresholdMax" v-model="threshold"/>
                        </label>
                    </div>
                    <div>
                        <button v-on:click="ditherImageWithSelectedAlgorithm" v-show="!isLivePreviewEnabled">Transform</button>
                    </div>
                    <div class="histogram-super-container">
                        <div class="histogram-container" v-bind:style="{width: histogramWidth + 'px', height: histogramHeight + 'px'}">
                            <canvas id="histogram-canvas-indicator" v-bind:width="histogramWidth" v-bind:height="histogramHeight"></canvas>
                            <canvas id="histogram-canvas" v-bind:width="histogramWidth" v-bind:height="histogramHeight"></canvas>
                        </div>
                    </div>
                
                    <div class="color-replace-super-container">
                        <div class="color-replace-title-container">
                            <h5 class="color-replace-title">Color substitution</h5>
                        </div>
                        <label>Black<input type="color" v-model="colorReplaceBlack" /></label>
                        <label>White<input type="color" v-model="colorReplaceWhite" /></label>
                        <button v-on:click="resetColorReplace" v-show="areColorReplaceColorsChangedFromDefaults">Reset colors</button>
                    </div>
                    <div>
                        <button v-on:click="saveTexture">Save texture</button>
                        <button v-show="savedTextures.length >= 3" v-on:click="combineDitherTextures">Combine textures</button>
                    </div>
                </div>   
            </script>
            <script type="vue/template" id="color-dither-component">
                <div class="dither-controls-container controls-panel">
                    <div>
                        <label>Dithering algorithm
                            <select v-model="selectedDitherAlgorithmIndex">
                                <option v-for="(ditherAlgorithm, index) in ditherAlgorithms" v-bind:value="index">{{ ditherAlgorithm.title }}</option>
                            </select>
                        </label>
                    </div>
                    <div>
                        <button v-on:click="ditherImageWithSelectedAlgorithm" v-show="!isLivePreviewEnabled">Transform</button>
                    </div>
                    <div class="histogram-super-container">
                        <div class="histogram-container" v-bind:style="{width: histogramWidth + 'px', height: histogramHeight + 'px'}">
                            <canvas id="histogram-color-canvas" v-bind:width="histogramWidth" v-bind:height="histogramHeight"></canvas>
                        </div>
                    </div>
                    <div>
                        <label>Number of colors
                            <select v-model="numColors">
                                <option v-for="n in (numColorsMax - numColorsMin + 1)">{{n + numColorsMin - 1}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="color-replace-super-container">
                        <div class="color-replace-title-container">
                            <h5 class="color-replace-title">Colors</h5>
                        </div>
                        <div class="colors-list-container">
                            <template v-for="(color, i) in selectedColors">
                                <label>{{i+1}}<input type="color" v-model="colors[i]" /></label>
                            </template>
                        </div>
                    </div>
                </div>   
            </script>
            
            
        </main>
        <script type="text/javascript" src="/js/vue.min.js"></script>
        
        
        <script type="webgl/vertex-shader" id="webgl-threshold-vertex-shader">
            attribute vec4 a_position;
            attribute vec2 a_texcoord;
             
            uniform mat4 u_matrix;
            varying vec2 v_texcoord;
             
            void main() {
               gl_Position = u_matrix * a_position;
               v_texcoord = a_texcoord;
            }
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-threshold-fshader-body">
            bool shouldUseBlackPixel = pixelLightness < u_threshold;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-random-threshold-fshader-declaration">
            uniform vec2 u_random_seed;
            
            //based on: http://byteblacksmith.com/improvements-to-the-canonical-one-liner-glsl-rand-for-opengl-es-2-0/
            highp float rand(vec2 co){
                highp float a = 12.9898;
                highp float b = 78.233;
                highp float c = 43758.5453;
                highp float dt= dot(co.xy ,vec2(a,b));
                highp float sn= mod(dt,3.14);
                return fract(sin(sn) * c);
            }
            
            float rand2(vec2 co){
                return fract(sin(dot(co.xy, vec2(12.9898,78.233))) * 43758.5453);
            }
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-random-threshold-fshader-body">
            float adjustedThreshold = abs(u_threshold * rand(v_texcoord.xy/u_random_seed.xy));
            bool shouldUseBlackPixel = pixelLightness < adjustedThreshold;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-ordered-dither-fshader-declaration">
            uniform sampler2D u_bayer_texture;
            uniform float u_bayer_texture_dimensions;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-ordered-dither-fshader-body">
           vec2 bayerPixelCoord = vec2(gl_FragCoord.x / u_bayer_texture_dimensions, gl_FragCoord.y / u_bayer_texture_dimensions);
           vec4 bayerPixel = texture2D(u_bayer_texture, bayerPixelCoord);
           float bayerValue = bayerPixel.r;
           float adjustedThreshold = bayerValue * u_threshold;
           bool shouldUseBlackPixel = pixelLightness < adjustedThreshold;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-color-replace-fshader-body">
            //we are comparing to 0.0, but can't use == because of floating point precision
            bool shouldUseBlackPixel = pixel.r < 0.5;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-combine-dither-fshader-declaration">
            uniform sampler2D u_texture_2;
            uniform sampler2D u_texture_3;
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-combine-dither-fshader-body">
           vec4 pixel2 = texture2D(u_texture_2, v_texcoord);
           vec4 pixel3 = texture2D(u_texture_3, v_texcoord);
           
           vec3 majorityPixel;
          if(pixel == pixel2 || pixel == pixel3){
              majorityPixel = pixel.rgb;
          }
          else{
              majorityPixel = pixel2.rbg;
          }
           
           bool shouldUseBlackPixel = majorityPixel == u_black_pixel;
        </script>
        
        <script type="webgl/fragment-shader-function" id="webgl-fragment-shader-lightness-function">
            float lightness(vec3 pixel){
                float maxVal = max(max(pixel.r, pixel.g), pixel.b);
                float minVal = min(min(pixel.r, pixel.g), pixel.b);
                return (maxVal + minVal) / 2.0;
            }
        </script>
        
        <script type="webgl/fragment-shader" id="webgl-fragment-shader-template">
            precision mediump float;
            
            varying vec2 v_texcoord;
            uniform sampler2D u_texture;
            uniform float u_threshold;
            uniform vec3 u_black_pixel;
            uniform vec3 u_white_pixel;
            
            #{{customDeclaration}}
            
            #{{lightnessFunction}}
            
            void main(){
               vec4 pixel = texture2D(u_texture, v_texcoord);
               float pixelLightness = lightness(pixel.rgb);
               
               #{{customBody}}
               
               vec4 outputPixel;
               
               if(shouldUseBlackPixel){
                   outputPixel = vec4(u_black_pixel.rgb, pixel.a);
               }
               else{
                   outputPixel = vec4(u_white_pixel.rgb, pixel.a);
               }
               gl_FragColor = outputPixel;
            }
        </script>
        <script type="webgl/fragment-shader-function" id="webgl-rgb-distance">
            float quick_distance(vec3 pixel1, vec3 pixel2){
                vec3 distances = pixel1 - pixel2;
                return abs(distances.r * distances.g * distances.b);
            }
        </script>
        <script type="webgl/fragment-shader" id="webgl-closest-color-fshader">
            precision mediump float;
            
            varying vec2 v_texcoord;
            uniform sampler2D u_texture;
            
            uniform int u_colors_array_length;
            uniform vec3 u_colors_array[8];
            
            #{{lightnessFunction}}
            
            #{{distanceFunction}}
            
            void main(){
                vec4 pixel = texture2D(u_texture, v_texcoord);
                
                float shortestDistance = 1000.0;
                vec3 outputPixel = pixel.rgb;
                
                for(int i=0;i<8;i++){
                    if(i >= u_colors_array_length){
                        break;
                    }
                    vec3 currentColor = u_colors_array[i];
                    float currentDistance = quick_distance(pixel.rgb, currentColor);
                    if(currentDistance < shortestDistance){
                        shortestDistance = currentDistance;
                        outputPixel = currentColor;
                    }
                }
                
                gl_FragColor = vec4(outputPixel, pixel.a);
            }
        </script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>