.DS_Store
.directory
Thumbs.db
.fuse_hidden
.fuse_hidden*
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*

docs/*
node_modules/*
public_html/*.html
public_html/assets/*
scripts/*
README.md
license.txt
.git/*
.gitignore