.DS_Store
.directory
.fuse_hidden
.fuse_hidden*
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
.npm-debug.log
npm-debug.log
npm-debug.log*
.npm-debug*
bin/*
*.o
*.pyc
*.gif
*.bmp
*.jpg
*.jpeg
*.svg
Thumbs.db
*.ttf
*.otf
*.eot
*.woff
*.zip
public_html/js/*
public_html/styles/*
public_html/index.html
*.rb
sass/lib/*
dminjs
inc/unsplash-api-secret.json
scripts/*.json
scripts/optimize-palette-notes.js
public_html/api/unsplash.json
lib/*