.DS_Store
.directory
.fuse_hidden
.fuse_hidden*
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
.npm-debug.log
npm-debug.log
npm-debug.log*
.npm-debug*
bin/*
*.o
*.pyc
*.gif
*.bmp
*.jpg
*.jpeg
*.svg
Thumbs.db
*.ttf
*.otf
*.eot
*.woff
*.zip
public_html/js/*.js
public_html/styles/*
public_html/assets/*
public_html/index.html
public_html/api/*.json
*.rb
sass/lib/*
inc/unsplash-api-secret.php
scripts/*.json
scripts/optimize-palette-notes.js
lib/*
/js_src/generated_output/*
release/*
electron/node_modules/*
electron/public_html/*
electron/out/*
inc/serverless/build/*
unsplash-secrets.js
serverless/*
scripts/images/*
scripts/matrix-output/*.json